/* Overwrites
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#overview {
  padding-bottom: 20px;

  #header {
    opacity: .3;
  }

  p {
    font-size: 12px;
    font-family: 'Roboto';
  }
}

/* Card Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#card {
  background: url(../images/background-gradient-pb.png);
  background-size: cover;
  margin: 80px 15px 0 15px; 
  border-radius: $border-radius;
  @extend %flexbox;
  position: relative;

  .wallet {
    opacity: 0.5;
    width: 70px;
    margin: 35px 40px;
  }

  .balance {
    margin: 0 10px 5px 40px;
    
    h1 {
      font-size: 20px;
      margin: 10px 0;

      span {
        font-size: 24px;
      }
    }
  
    p {
      opacity: 0.5;
      
      .inline-icon {
        height: 12px;  
        opacity: 1;
      }
    }  
    
  }
  
  .floating-button {
    background: linear-gradient(to right, #9785eb 0%, #f97ab3 100%);
    // margin-right: 132px;
    right: calc(50% - 20px);
  }
}


/* Graph Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#graph {

  img {
    width: 100%;
  }

  h4 {
    margin: 40px 300px 0 25px;
    padding-bottom: 0.5em;
  }
}

/* Percentages Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#percentages {
  
  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;

    li {
      padding-bottom: 0.5em;
    }

    li~li {
      opacity: 0.5;
    }
  }

  .numbers {
    @extend %flexbox;
    margin: 0 10px;

    div {
      margin: 20px 30px;

      h2 {
        font-size: 18px;

        span {
          font-size: 30px;
        }
      }

      p {
        font-size: 14px;
        opacity: 0.5;
      }
    }

    div~div {
      border-left: 1px solid rgba(225, 225, 225, 0.5);
      padding-left: 30px;  
    }
  }
}








